<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <style>
    div {text-align: center;}
    </style>
</head>
<body bgcolor="turquoise">
<div>
{%if message%}
<p style="color:red">{{message}}</p>
{%endif%}

<form action="/perform_registration" method="post">
    <h1>Student Placement Predictor</h1>
    <h2>Enter Your Registration Details</h2>
    <label>Name :</label><br>
    <input type="text" name="Name"> <br><br>
    <label>Email :</label><br>
    <input type="email" name="Email"> <br><br>
    <label> Password :</label><br>
    <input type="password" name="Password"> <br><br>
    <input type="Submit" value="Register">

    <p>Already a Member? <a href="/">Login</a></p>
</form>
</div>
</body>
</html>